.wrapper {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input {
    margin-left: 5%;
    border: none;
}

.input:focus {
    outline: none;
}
