.mainDiv {
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.loaderWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.propertyDiv {
  margin-top: 15px;
  width: 100%;
}

.controlDiv {
  margin-top: 8px;
  width: 100%;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.backArrow {
  width: 30px;
}

.wrapperBackArrow {
  width: 90.8%;
}

.rubleInput {
  width: 100%;
  padding: 8px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.rubleInput:focus {
  border: 2px solid #9fcaff !important; /* переопределяем цвет границы при фокусе */
  outline: none; /* убираем стандартное маркерное обозначение при фокусе */
}

.rubleSymbol {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapperBtn {
  cursor: pointer;
  height: 7%;
  min-height: 30px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border: #9fcaff 1px solid;
}

.text {
  color: var(--text-color);
  font-size: 14px;
}

.infoAndButtonDiv {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  font-size: 14px;
}
