.labelStyle {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: var(--bg-color);
  text-align: center;
  margin: 8px 8px 0 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.activeLabelStyle {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}
