.container {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    height: 106px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: transparent 2px solid;
  }
  
  .borderGreen {
    border: #A1FFC7 2px solid;
  }
  
  .borderYellow {
    border: #E5E178 2px solid;
  }
  
  .directionContainer {
    width: 100%;
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .directionText {
    font-size: 14px;
    color: var(--text-color);
  }
  
  .infoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    flex: 0.6;
    align-items: center;
  }
  
  .orderInfoElementDiv {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .orderInfoElementDivFirst {
    justify-content: flex-start;
  }
  
  .orderInfoElementDivSecond {
    justify-content: center;
  }
  
  .orderInfoElementDivThird {
    justify-content: flex-end;
  }
  
  .orderInfoElementDivText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .orderInfoElementDescription {
    color: var(--text-color);
    font-size: 10px;
  }
  
  .orderInfoElementValue {
    font-size: 24px;
    color: var(--text-color);
  }
  