.mainDiv {
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.inputs {
  height: 60%;
  display: flex;
  flex-direction: column;
}

.userPropertyDiv {
  width: 100%;
  margin-top: 5%;
}

.btn {
  height: 40px;
}

.driverDiv {
  margin-top: 15%;
}

.text {
  font-size: 14px;
  margin-bottom: 6px;
}
