.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
  max-height: 150%;
  align-items: center;
}

.wrapperContent {
  height: 50%;
  background-color: white;
  width: 90.8%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.content {
  width: 92.7%;
  display: flex;
  flex-direction: column;
}

.contentLine {
  margin-top: 6%;
}

.contentLine:nth-last-child(1) {
  margin-bottom: 6%;
}

.contentRouteLine {
}

.contentMainInfoLine {
  display: flex;
  justify-content: space-between;
}

.contentDateLine {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapperBtn {
  min-height: 40px;
  height: 7%;
  width: 90.8%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent 1px solid;
}

.wrapperBtnNotJoined {
  background-color: #DCEDFF;
  border: #9FCAFF 1px solid;
}

.wrapperBtnError {
  background-color: #e8002c;
}

.wrapperBtnJoined {
  background-color: #fff2a1;
}

.text {
  color: var(--text-color);
  font-size: 14px;
}

.infoText {
  font-size: 24px;
  color: var(--text-color);
}

.littleText {
  font-size: 10px;
  color: var(--text-color);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.errorBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btnText {

}

