.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  gap: 4%;
}

.backArrow {
  width: 30px;
}

.wrapperBackArrow {
  width: 90.8%;
}

.wrapperContent {
  background-color: white;
  width: 90.8%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.wrapperAndParticipantsContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participantsDiv {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.participantsText {
  font-size: 14px;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.content {
  width: 92.7%;
  display: flex;
  flex-direction: column;
}

.contentLine {
  margin-top: 6%;
}

.contentLine:nth-last-child(1) {
  margin-bottom: 6%;
}

.contentRouteLine {
}

.contentMainInfoLine {
  display: flex;
  justify-content: space-between;
}

.contentDateLine {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapperBtn {
  min-height: 40px;
  height: 7%;
  width: 90.8%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent 1px solid;
}

.wrapperBtnNotJoined {
  background-color: #dcedff;
  border: #9fcaff 1px solid;
}

.wrapperBtnError {
  background-color: #e8002c;
}

.wrapperBtnJoined {
  background-color: #fff2a1;
}

.text {
  color: var(--text-color);
  font-size: 14px;
}

.infoText {
  font-size: 24px;
  color: var(--text-color);
}

.littleText {
  font-size: 10px;
  color: var(--text-color);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.errorBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btnText {
}
