html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main-bg-color: #f3f2f8;
  --bg-color: #ffffff;
  --text-color: #000000;
  --text-color-disabled: #3b3b3b;
  --accent-color: #dcedff;
  --accent-border-color: #9fcaff;
  --error-color: #e8002c;
  --warning-color: #fff2a1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #000000;
    --text-color: #f3f2f8;
    --text-color-disabled: #a2a2a2;
    --bg-color: #252525;
    --accent-color: #3070c2;
    --accent-border-color: #082757;
    --error-color: #e8002c;
    --warning-color: #b49c02;
  }
}

.react-datepicker__header {
  text-align: center;
  background-color: var(--bg-color);
  border-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 8px;
  position: relative;
}

.react-datepicker__time-list-item {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: var(--accent-color);
}

.react-datepicker__day {
  color: var(--text-color);
}

.react-datepicker__day--disabled {
  color: var(--text-color-disabled);
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: var(--text-color);
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: var(--text-color);
}

.react-datepicker__today-button {
  background-color: var(--bg-color);
  border-top: 0px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.react-datepicker {
  background-color: var(--bg-color);
}

@font-face {
  font-family: "InterBold";
  src: local("InterBold"), url("/fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "InterLight";
  src: local("InterLight"),
    url("/fonts/Inter/Inter-Light.ttf") format("truetype");
  font-weight: light;
}

@font-face {
  font-family: "InterMedium";
  src: local("InterMedium"),
    url("/fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "InterRegular";
  src: local("InterRegular"),
    url("/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "InterSemiBold";
  src: local("InterSemiBold"),
    url("/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: bolder;
}

.mediumText {
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  font-family: "InterMedium";
  color: var(--text-color);
}

.regularText {
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-family: "InterRegular";
  color: var(--text-color);
}

.lightText {
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  font-family: "InterLight";
  color: var(--text-color);
}

.boldText {
  font-weight: 700;
  font-family: "InterBold";
  font-style: normal;
  line-height: normal;
  color: var(--text-color);
}

.text12 {
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Цвет фона скроллбара */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* Цвет ползунка */
  border-radius: 10px; /* Скругляем углы ползунка */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
